body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}
.e1{
	display: flex;
	background-color: crimson;
	height: 100%;
	width: 50%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.e2 {
	align-items: center;
	color: white;
	font-size: 75px;
}
p {
	align-items: center;
	color: white;
}
div {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 20px; 
}